@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

.navbar {
    background-color: black;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar h1{
    font-size: 30px;
    font-weight: 620;
    color: white;
    display: inline;
    padding-right: auto;
    line-height: 0.5;
}

.navbar a{
    color: white;
    font-weight: 420;
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
}

.navbar a:hover {
    color: grey;
}